<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
    crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
  <script src="app.js"></script>
  <title>Document</title>
</head>

<body ng-app="MyApp">
  <div ng-controller="MyController">
    <h2>The Digest Cycle</h2>
    <p>Counter value: {{ counter }}</p>
    <button class="pure-button" ng-click="incrementSetTimeout()">Increment setTimeout</button>
    <button class="pure-button " ng-click="incrementSetTimeoutDigest()">Increment $scope.$digest</button>
    <button class="pure-button" ng-click="incrementSetTimeoutApply()">Increment $scope.$apply</button>
    <button class="pure-button" ng-click="incrementTimeout()">Increment $timeout</button>
  </div>
</body>

</html>
